<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="../static/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <main class="login-center">
        <div class="header-content">
            <h1 class="fonte-especial">Login</h1>
            <form action="" method="post">
                <label for="emailForm">Email</label>
                <input type="text" id="emailForm" name="emailForm" placeholder="Insira um email" required>

                <label for="password">Senha</label>
                <input type="password" id="password" name="senhaForm" placeholder="********" required>

                <button type="submit">Sign In</button>
                <div class="forgot-password">
                    <span>Não tem uma conta? </span>
                    <a href="http://127.0.0.1:5000/register" class="register-link">Cadastre-se</a>
                </div>
            </form>
        </div>
    </main>
</body>

</html>