<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vortex Energy</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/product.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="../static/script.js"></script>
</head>


<body>
    <header class="main-header">
        <div class="header-container">
            <div class="logo-container">
                <a href="http://127.0.0.1:5000/" class="logo-link">
                    <img src="../static/img/logo.png" alt="Logo da empresa">
                    <span class="company-name">Vortex</span>
                </a>
            </div>

            <nav>
                <ul class="nav-menu">
                    <li><a href="http://127.0.0.1:5000/#section2">Produtos</a></li>
                    <li><a href="http://127.0.0.1:5000/shop" class="cart-link">
                            Comprar
                            <i class="fi fi-rr-shopping-cart"></i>
                        </a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>

            {% if current_user.is_authenticated %}
            <div class="user-menu">
                <div class="user-icon" id="userIcon">
                    <i class="fi fi-sr-user"></i>
                </div>
                <div class="dropdown-menu" id="dropdownMenu">
                    <div class="user-header">
                        <i class="fi fi-sr-user"></i>
                        <div class="user-info">
                            <span>{{current_user.nome.split()[0]}}</span>
                            <a href="#" class="edit-profile">Edit Profile</a>
                        </div>
                        <button class="close-btn" id="closeMenu">
                            <i class="fi fi-sr-cross"></i>
                        </button>
                    </div>
                    <div class="menu-options">
                        <a href="#"><i class="fi fi-sr-settings"></i> Configurações</a>
                        <a href="http://127.0.0.1:5000/logout" id="sair"><i class="fi fi-sr-sign-out"></i> Sair</a>
                    </div>
                </div>
                <div class="bag-icon">
                        <i class="fi fi-rr-basket-shopping-simple"></i>
                </div>
            </div>
            {% else %}
            <div class="user-menu">
                <div class="user-icon" id="userIcon">
                    <a href="http://127.0.0.1:5000/login" style="text-decoration: none; color: inherit;"><i class="fi fi-sr-user"></i></a>
                </div>
                {% endif %}
            </div>
    </header>


    <main>
        <section class="section-1">
            <div class="item-box">
                <div class="lata">
                    <img src="{{ url_for('static', filename='img/' ~ produto.imagem) }}" alt="{{ produto.nome }}">
                </div>
                
                <div class="product-info">
                    {% if current_user.is_authenticated %}
                        <p>Olá, <strong>{{ current_user.nome }}</strong>!</p>
                    {% else %}
                        <p>Faça login para comprar.</p>
                    {% endif %}
                
                    <h2>{{ produto.nome if produto is defined else "Produto Indisponível" }}</h2>
                    <p>{{ produto.descricao if produto is defined else "Indisponível" }}</p>
                    <span class="price">
                        R$ {{ produto.preco_unitario if produto is defined else "Indisponível" }}
                    </span>
                
                    <form action="{{ url_for('criar_pedido') }}" method="POST">
                        <input type="hidden" name="usuario_id" value="{{ current_user.id_usuario if current_user.is_authenticated else '' }}">
                        <input type="hidden" name="produto_id[]" value="{{ produto.id_produto if produto is defined else 0 }}">
                    
                        <label>Quantidade:</label>
                        <input type="number" name="quantidade[]" value="1" min="1" required>
                    
                        <button type="submit" id="buy-btn">Adicionar ao Carrinho</button>
                    </form>
                </div>
            </div>
        </section>
    </main>


    <footer>
        <div class="footer-container">
            <div class="footer-column">
                <h3>Use cases</h3>
                <ul>
                    <li><a href="#">UI design</a></li>
                    <li><a href="#">UX design</a></li>
                    <li><a href="#">Wireframing</a></li>
                    <li><a href="#">Diagramming</a></li>
                    <li><a href="#">Brainstorming</a></li>
                    <li><a href="#">Online whiteboard</a></li>
                    <li><a href="#">Team collaboration</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Explore</h3>
                <ul>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Prototyping</a></li>
                    <li><a href="#">Development features</a></li>
                    <li><a href="#">Design systems</a></li>
                    <li><a href="#">Collaboration features</a></li>
                    <li><a href="#">Design process</a></li>
                    <li><a href="#">FigJam</a></li>
                </ul>
            </div>


            <div class="footer-column">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Best practices</a></li>
                    <li><a href="#">Colors</a></li>
                    <li><a href="#">Color wheel</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Developers</a></li>
                    <li><a href="#">Resource library</a></li>
                </ul>
            </div>


            <div class="footer-social">
                <a href="#"><i class="fi fi-brands-twitter"></i></a>
                <a href="#"><i class="fi fi-brands-instagram"></i></a>
                <a href="#"><i class="fi fi-brands-youtube"></i></a>
                <a href="#"><i class="fi fi-brands-linkedin"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>